.modal {
    left: auto;
    right: 12vw;
}

.modal-content {
    max-height: 200px;
    overflow: auto;
    font-size: 11px;
}

.item-name {
    width: 50%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}